body {
	background-color: black;
}

p {
	color: white;
	text-align: center;
}

img {
	display: block;
	left-margin: auto;
	right-margin: auto;
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
	border-radius: 8px;
}
